{{#if eventImage}}
<div class="container">
    <div class="columns" style="margin-bottom: 60px;">
      {{#each eventImage}}
        <div data-id={{this._id}} class="column col-12 photo-card">
          <div class="card">
              <div class="card-image">
                  <img src="https://monmagazine.fr/messenger/proxied_image/{{this.public_id}}" class="img-responsive mt-10" />
              </div>
              <div class="card-body">
                <div class="columns">
                  <div class="column col-3">
                    <img class="img-responsive" src="https://monmagazine.fr/messenger/profile_image/{{this.author_pic}}" />
                  </div>
                  <div class="column col-9">
                    {{this.message}}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="columns">
                    {{#if @first}}
                  <div class="column col-12">
                      <button class="btn btn-primary btn-sm delete-btn">supprimer<i class="icon icon-delete"></i></button>
                      <button class="btn btn-primary btn-sm float-right move-up hide"><i class="icon icon-arrow_upward"></i>monter</button>
                      <button class="btn btn-primary btn-sm float-right move-down"><i class="icon icon-arrow_downward"></i>descendre</button>
                    {{else if @last}}
                    <div class="column col-12">
                      <button class="btn btn-primary btn-sm delete-btn">supprimer<i class="icon icon-delete"></i></button>
                      <button class="btn btn-primary btn-sm float-right move-up" style="margin-left: 5px;"><i class="icon icon-arrow_upward"></i>monter</button>
                      <button class="btn btn-primary btn-sm float-right move-down hide"><i class="icon icon-arrow_downward"></i>descendre</button>
                    {{else}}
                    <div class="column col-12">
                      <button class="btn btn-primary btn-sm delete-btn">supprimer<i class="icon icon-delete"></i></button>
                      <button class="btn btn-primary btn-sm float-right move-up" style="margin-left: 5px;"><i class="icon icon-arrow_upward"></i>monter</button>
                      <button class="btn btn-primary btn-sm float-right move-down"><i class="icon icon-arrow_downward"></i>descendre</button>
                    {{/if}}
                  </div>
                </div>
              </div>
          </div>
        </div>
      {{/each}}
    </div>
</div>

<div id="footer" class=" centered">

  <div class="btn-group btn-group-block">
    <button class="close-btn btn btn-haut">Annuler <i class="icon icon-undo"></i></button>
    <button class="cloture-btn btn btn-haut">Clôturer <i class="icon icon-lock"></i></button>
  </div>
</div>


{{else}}
<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4 >Pas de photo validé</h4>
    </div>
  </div>
</div>
  <footer id="footer" class="centered">
    <div class="col s12 ">
      <button class="close-btn btn btn-primary btn-block btn-haut">Fermer <i class="icon icon-close"></i></button>
    </div>
  </footer>
{{/if}}

<div class="modal active">
    <div class="modal-overlay"></div>
    <div class="modal-container" style="margin-right: 10px; margin-left: 10px;">
        <div class="modal-header">
            <button class="btn btn-clear float-right close-modal"></button>
            <div class="modal-title">Instruction d'utilisation:</div>
        </div>
        <div class="modal-body" style="padding-top: 0px;padding-bottom: 0px;min-height: 280px;">
            <div class="content">
                <p><button class="btn btn-primary btn-sm">supprimer<i class="icon icon-delete"></i></button> supprimer une photo.</p>
                <p><button class="btn btn-primary btn-sm"><i class="icon icon-arrow_upward"></i>monter</button> monter la photo dans l'ordre de publication.</p>
                <p><button class="btn btn-primary btn-sm"><i class="icon icon-arrow_downward"></i>descendre</button> descendre la photo dans l'ordre de publication.</p>
                <p><button class="btn btn-sm">Annuler <i class="icon icon-undo"></i></button> ferme la page sans enregistrer les modifications.</p>
                <p><button class="btn btn-sm">Clôturer <i class="icon icon-lock"></i></button> Enregistrer les modifications et clôturer la publication.</p>
            </div>
        </div>
        <div class="modal-footer" style="padding-top: 0px;">
            <button class="btn btn-link close-modal">Ok, j'ai compris</button>
        </div>
    </div>
</div>

<div class="modal modal-save">
    <div class="modal-overlay"></div>
    <div class="modal-container" style="margin-right: 10px; margin-left: 10px;">
        <div class="modal-header">
            <button class="btn btn-clear float-right close-modal close-btn"></button>
            <div class="modal-title">Clôture de publication</div>
        </div>
        <div class="modal-body" style="padding-top: 0px;padding-bottom: 0px;">
            <div class="content">
                <p>test</p>
            </div>
        </div>
        <div class="modal-footer" style="padding-top: 0px;">
            <button class="btn btn-link close-modal close-btn">fermer</button>
        </div>
    </div>
</div>

<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));

</script>

<script type="text/javascript" src="https://monmagazine.fr/js/jquery-3.1.1.min.js"></script>

<script>

$('.close-btn').click( function() {
  var isSupported = MessengerExtensions.isInExtension();

  if (isSupported) {
    MessengerExtensions.requestCloseBrowser(function success() {
  	}, function error(err) {
      window.close();
  	});
  } else {
    var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    if (iOS) {
      window.location.href = "https://www.messenger.com/closeWindow/?image_url=IMAGE_URL&display_text=FERMETURE";
      window.close();
    } else {
      window.close();
    }
  }
});

// Mettre à jour les bouttons monter et descendre
function updateBtn () {
  $('.move-up').removeClass("hide");
  $('.move-down').removeClass("hide");
  $('.move-up').first().addClass("hide");
  $('.move-down').last().addClass("hide");
}

function cloturePub () {
  var postUrl= "https://monmagazine.fr/messenger/cloture/close/{{senderid}}/{{eventid}}";
  var photoArray = []
  $('.photo-card').each(function(index){
    photoArray.push($(this).data("id"));
  });
  $.post(postUrl, { 'photoArray[]': photoArray }, function(){
    $('.modal-save').addClass("active");
    $('.modal-save').find("p").text("Felicitation, votre Publication est cloturée!");
  })
  .fail(function() {
    $('.modal-save').addClass("active");
    $('.modal-save').find("p").text("Une erreur est survenu... la publication n'a pas été cloturée.");
  });
}


$('.cloture-btn').click( function() {
  cloturePub();
});

$(".close-modal").on("click", function() {
  $(this).closest('.modal').removeClass('active');
});

$(".move-up").on("click", function() {
  $(this).closest('.photo-card').insertBefore($(this).closest('.photo-card').prev());
  updateBtn();
});

$(".move-down").on("click", function() {
  $(this).closest('.photo-card').insertAfter($(this).closest('.photo-card').next());
  updateBtn();
});

$(".delete-btn").on("click", function() {
  $(this).closest('.photo-card').remove();
  updateBtn();
});


</script>
