{{#each print }}
<div class="image-print" style="page-break-after:always;">
  <div class="insider-top">
    <img src="{{mainUrl}}images/cover/logo-MonMagazine-fr-print.png" class="img-responsive" />
  </div>
  <img src="{{mainUrl}}full_image/{{this.cover_public_id}}" class="img-responsive" />
  <div class="insider-bottom text-center" style="padding-top: 15px;padding-bottom: 15px;">
    <h4 class=""style="margin-top: 0px;">{{this.printTitle}}</h4>
    <p style="margin-bottom: 0px;"> {{this.description}} </p>
  </div>
</div>

  {{#each this.photoList }}
  <div class="image-print" style="page-break-after:always;">
    <img src="{{../mainUrl}}full_image/{{this.public_id}}" class="img-responsive"/>
    <div class="insider-bottom container" style="padding-top: 0;">
      <div class="columns col-gapless">
        <div class="column col-2 text-right">
          <figure class="avatar avatar-xl" style="margin-right: 20px;">
            <img src="{{../mainUrl}}profile_image/{{this.author_pic}}" />
          </figure>
        </div>
        <div class="column col-9" style="padding-top: 20px;">
          <p style="margin-bottom: 0px;"> {{this.message}} </p>
          <cite>- {{this.user_profile.first_name}} {{this.user_profile.last_name}}, le {{this.dateTimeHumain}}</cite>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="image-print text-center" style="page-break-after:always; padding: 30%;">
    <img src="{{mainUrl}}images/cover/messenger_code_monmagazine-fr2.png" class="img-responsive" />
    <p class="mt-10">MonMagazine.fr by Alexandre Choisy</p>
  </div>


{{/each}}
