{{#each print }}
<div class="image-print" style="page-break-after:always;">
  <div class="insider-top">
    <img src="{{mainUrl}}images/cover/logo-MonMagazine-fr-print.png" class="img-responsive" />
  </div>
  <img src="{{mainUrl}}full_image/cover/{{this.cover_public_id}}" class="img-responsive" />
  <div class="insider-bottom text-center" style="padding-top: 15px;padding-bottom: 15px;">
    <h4 class=""style="margin-top: 0px;">{{this.printTitle}}</h4>
    <p style="margin-bottom: 0px;"> {{this.description}} </p>
  </div>
</div>

  {{#each this.photoList }}
  <div class="page" style="page-break-after:always;">
    <div class="container-img">
      {{#if this.upPage.landscape}}
      <img src="{{../mainUrl}}full_image/landscape/{{this.upPage.public_id}}" class="img-responsive"/>
      {{else}}
      <img src="{{../mainUrl}}full_image/portrait/{{this.upPage.public_id}}" class="img-responsive"/>
      {{/if}}
      <div class="caption">
        <p style="margin-bottom: 0px;"> {{this.upPage.message}} </p>
        <cite>- {{this.upPage.user_profile.first_name}} {{this.upPage.user_profile.last_name}}, le {{this.upPage.dateTimeHumain}}</cite>
      </div>
    </div>

    {{#if this.downPage}}
    <div class="container-img">
      <img src="{{../mainUrl}}full_image/landscape/{{this.downPage.public_id}}" class="img-responsive"/>
      <div class="caption">
        <p style="margin-bottom: 0px;"> {{this.downPage.message}} </p>
        <cite>- {{this.downPage.user_profile.first_name}} {{this.downPage.user_profile.last_name}}, le {{this.downPage.dateTimeHumain}}</cite>
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}

  <div class="image-print text-center" style="page-break-after:always; padding: 30%;">
    <img src="{{mainUrl}}images/cover/messenger_code_monmagazine-fr2.png" class="img-responsive" />
    <p class="mt-10">MonMagazine.fr by Alexandre Choisy</p>
  </div>


{{/each}}
