{{#each print }}
<div class="container" >
  <div class="columns">
    <div class="column col-12" style="page-break-after:always;">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">{{this.printTitle}}</h4>
              <h6 class="card-meta">monmagazine.fr</h6>
          </div>
          <div class="card-image">
              <img src="{{this.eventId}}/{{this.cover_public_id}}.jpg" class="img-responsive" />
          </div>
          <div class="card-body">
              {{this.description}}
          </div>
          <div class="card-footer">
          </div>
      </div>
    </div>
  </div>


  {{#each this.photoList }}
        <div class="row">
            <div class="col s12" style="page-break-after:always;">
                <div class="card">
                    <div class="card-image">
                        <img src="{{../eventId}}/{{this.public_id}}.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>{{this.message}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
          <div class="column col-12" style="page-break-after:always;">
            <div class="card">
                <div class="card-image">
                    <img src="{{../eventId}}/{{this.public_id}}.jpg" class="img-responsive" />
                </div>
                <div class="card-header">
                  <figure class="avatar avatar-xl">
                    <img src="profile_image/{{this.author_pic}}.jpg" />
                  </figure>
                    <h6 class="card-meta">{{this.user_profile.first_name}} {{this.user_profile.last_name}}</h6>
                    <h4 class="card-title">{{this.dateTimeHumain}}</h4>
                </div>
                <div class="card-body">
                    {{this.message}}
                </div>
                <div class="card-footer">
                </div>
            </div>
          </div>
        </div>
  {{/each}}
</div>
{{/each}}
