<header>

</header>
<main style="margin-bottom: 30px;">
  <div class="row" style="padding-top: 20px;">
    <div class="col s12">
      <img class="responsive-img" src="https://monmagazine.fr/messenger/proxied_image/{{publication.cover_public_id}}" >
    </div>
    <div class="col s12">
      <span class="flow-text">{{publication.event_info.description}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col s12" style="padding-bottom: 10px;">
      <h6>Titre :
        <span id="{{publication._id}}titre">{{publication.event_info.name}}</span>
      </h6>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="{{publication._id}}Portrait" style="">
        <a title='MonMagazine.fr' href='http://www.peecho.com/'
        class='peecho-print-button'
        data-filetype='pdf'
        data-width='{{publication.pdfWidth}}'
        data-height='{{publication.pdfHeight}}'
        data-pages='{{publication.pageCount}}'
        data-thumbnail='{{publication.welcome_msg.photo}}'
        data-locale="fr_FR"
        data-theme="blue"
        data-text="IMPRIMER à partir de "
        data-reference='{{orderId}}'
        data-title='{{publication.event_info.name}}'
        data-src=''
        data-redirect-thankyou='https://monmagazine.fr/messenger/print/thankyou'
        >PDF book on demand</a>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="orientation" class="modal">
    <div class="modal-content">
      <h4>Orientation du magazine</h4>
      <p>Choisissez l'orientation de votre magazine: Portrait ou Paysage.</p>
      <blockquote>
        Fonction non disponible dans cette version.
      </blockquote>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
  <div id="rotation" class="modal">
    <div class="modal-content">
      <h4>Rotation des images</h4>
      <p>Activer la rotation automatique pour que vos photos soient orientées pour prendre le maximun de place sur la page.</p>
      <blockquote>
        Fonction non disponible dans cette version.
      </blockquote>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
  <div id="titre" class="modal">
    <input type="hidden" value="" name="Idtitre" />
    <input type="hidden" value="" name="Modtitre" />
    <div class="modal-content">
      <div class="input-field col s6">
       <input value="Ceci est un test" id="titremodal" type="text" class="validate" name="titremodal">
       <label class="active" for="titre">Titre de la publication</label>
     </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" name="titreUpdate">Ok</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
    </div>
  </div>

  <!-- End Modal Structure -->
</main>

<footer id="footer" class="">
  <div class="col s12 m3">
    <a  id="close-btn" class="btn light-blue darken-4 btn-fullblock">Fermer</a>
  </div>
</footer>



<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<script type="text/javascript" src="https://monmagazine.fr/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://monmagazine.fr/js/materialize.min.js"></script>

<script>
$('#close-btn').click( function() {
	console.log("Closing webview");
  var isSupported = MessengerExtensions.isInExtension();

  if (isSupported) {
    MessengerExtensions.requestCloseBrowser(function success() {
  	}, function error(err) {
      window.close();

  	});
  } else {
    var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    if (iOS) {
      window.location.href = "https://www.messenger.com/closeWindow/?image_url=IMAGE_URL&display_text=FERMETURE";
    } else {
      window.close();

    }
  }
});
</script>

<!-- TEST PEECHO PLUGIN
<script type="text/javascript">
(function() {
var p=document.createElement("script");p.type="text/javascript";p.async=true;
var h=("https:"==document.location.protocol?"https://":"http://");
p.src=h+"d2bqfg1o8jltul.cloudfront.net/button/script/1480324358479493.js";
var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(p,s);
}).call(this);
</script>
-->

<script type="text/javascript">
(function() {
var p=document.createElement("script");p.type="text/javascript";p.async=true;
var h=("https:"==document.location.protocol?"https://":"http://");
p.src=h+"d3aln0nj58oevo.cloudfront.net/button/script/148552038764712620.js";
var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(p,s);
}).call(this);
</script>

<script>

$("a[name='action']").click(function () {
  var titreId = "#" + $(this).data('id');
  const titretext = $(this).data('titre');
  $("input[name='titremodal']").val(titretext);
  $("a[name='titreUpdate']").click(function () {
    $(titreId).text($("input[name='titremodal']").val());
  });
});

$('input[type="radio"]').click(function(){
  var portraitId = "." + $(this).data('id') + "Portrait";
  var paysageId = "." + $(this).data('id') + "Paysage";
  if($(this).attr("value")=="portrait"){
    $(paysageId).hide();
    $(portraitId).show();
  }
  if($(this).attr("value")=="landscape"){
    $(portraitId).hide();
    $(paysageId).show();
  }
});

$(".peecho-print-button").click(function(){
 var orderId = $(this).data('reference');
 $.post("https://monmagazine.fr/messenger/print/order", { orderid: orderId });
});

</script>
