
<div clas="container">
  <ul class="collapsible" data-collapsible="accordion">
    {{#if proPublicat}}
      <li>
        <div class="collapsible-header"><i class="material-icons">person</i>Vos créations</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="accordion">
          {{#each proPublicat}}
            <li>
              <div class="collapsible-header margin-bottom-yes"><i class="material-icons">keyboard_arrow_right</i>{{this.event_info.name}}</div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s4">
                    <img class="responsive-img" src="{{this.welcome_msg.photo}}" >
                  </div>
                  <div class="col s8">
                    <div class="row">
                      <div class="col s12">
                        <span class="flow-text">{{this.event_info.description}}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <a title="Peecho" href="http://www.peecho.com" class="peecho-print-button"
                    data-filetype="pdf" data-width="210.0" data-height="297.0"
                    data-pages="20" data-src='https://peecho-assets.s3.amazonaws.com/storage/flight-images/pdf/demo/peecho-book-portrait-297x210mm-32pages.pdf'
                    data-thumbnail='https://peecho-assets.s3.amazonaws.com/storage/flight-images/demo/book.jpg'  data-locale="fr_FR">PDF to book print</a>
                </div>
              </div>
            </li>
          {{/each}}
          </ul
        </div>
      </li>
    {{/if}}
    {{#if parPublicat}}
      <li>
        <div class="collapsible-header"><i class="material-icons">people</i>Vos participations</div>
        <div class="collapsible-body">
          {{#each parPublicat}}
          <li>
            <div class="collapsible-header margin-bottom-yes"><i class="material-icons">keyboard_arrow_right</i>{{this.event_info.name}}</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s4">
                  <img class="responsive-img" src="{{this.welcome_msg.photo}}" >
                </div>
                <div class="col s8">
                  <div class="row">
                    <div class="col s12">
                      <span class="flow-text">{{this.event_info.description}}</span>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a title='MonMagazine.fr' href='http://www.peecho.com/'
                class='peecho-print-button'
                data-filetype='pdf'
                data-width='150'
                data-height='210'
                data-pages='16' 
                data-src='https://peecho-assets.s3.amazonaws.com/storage/flight-images/pdf/demo/peecho-book-portrait-297x210mm-32pages.pdf'
                data-thumbnail='https://peecho-assets.s3.amazonaws.com/storage/flight-images/demo/book.jpg'
                data-locale="fr_FR"
                data-reference='{{this._id}}'
                >PDF book on demand</a>
              </div>
            </div>
          </li>
          {{/each}}
        </p></div>
      </li>
    {{/if}}
  </ul>
</div>

<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<script type="text/javascript" src="https://monmagazine.fr/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://monmagazine.fr/js/materialize.min.js"></script>
<script type="text/javascript" src="https://monmagazine.fr/js/upload.js"></script>

<script type="text/javascript">
(function() {
var p=document.createElement("script");p.type="text/javascript";p.async=true;
var h=("https:"==document.location.protocol?"https://":"http://");
p.src=h+"d2bqfg1o8jltul.cloudfront.net/button/script/1480324358479493.js";
var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(p,s);
}).call(this);
</script>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
