
<div clas="container">
  <ul class="collapsible z-depth-0" data-collapsible="accordion">
    {{#if proPublicat}}
      <li>
        <div class="collapsible-header"><i class="material-icons">person</i>Vos créations</div>
        <div class="collapsible-body">
          <ul class="collapsible z-depth-0" data-collapsible="accordion" style="border-left-width: 5px;">
          {{#each proPublicat}}
            <li>
              <div class="collapsible-header margin-bottom-yes"><i class="material-icons">keyboard_arrow_right</i>{{this.event_info.name}}</div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s4">
                    <img class="responsive-img" src="{{this.welcome_msg.photo}}" >
                  </div>
                  <div class="col s8">
                    <div class="row">
                      <div class="col s12">
                        <span class="flow-text">{{this.event_info.description}}</span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col s12" style="padding-bottom: 10px;">
                  <h6>Titre :
                    <a class="modiftitre" href="#titre" style="color:#3B5998" data-id="{{this._id}}titre" data-titre="{{this.event_info.name}}" name="action">
                      <span id="{{this._id}}titre">{{this.event_info.name}}</span>
                      <i class="material-icons tiny">mode_edit</i>
                    </a>
                  </h6>
                </div>
                <div class="col s12 m4" style="padding-bottom: 10px;">
                  <div class="col s12">
                    <span>Orientation du magazine<i class="material-icons tiny"><a class="grey-text text-darken-3" href="#orientation">help</a></i></span>
                  </div>
                  <div class="valign-wrapper col s12" style="padding-bottom: 4px;">
                    <i class="material-icons">photo_album</i>
                    <input name="{{this._id}}orientation" type="radio" id="{{this._id}}Portrait" checked />
                    <label for="{{this._id}}Portrait">Portrait</label>
                  </div>
                  <div class="valign-wrapper col s12">
                    <i class="material-icons valign">panorama</i>
                    <input name="{{this._id}}orientation" type="radio" id="{{this._id}}Paysage" class="valign" />
                    <label for="{{this._id}}Paysage">Paysage</label>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="col s12">
                    <span>Rotation des images<i class="material-icons tiny"><a class="grey-text text-darken-3" href="#rotation">help</a></i></span>
                  </div>
                  <div class="valign-wrapper col s12" style="padding-bottom: 4px;">
                    <i class="material-icons">screen_rotation</i>
                    <input name="{{this._id}}rotation" type="radio" id="{{this._id}}Automatique" checked />
                    <label for="{{this._id}}Automatique">Automatique</label>
                  </div>
                  <div class="valign-wrapper col s12">
                    <i class="material-icons">screen_lock_rotation</i>
                    <input name="{{this._id}}rotation" type="radio" id="{{this._id}}Aucune" />
                    <label for="{{this._id}}Aucune">Aucune</label>
                  </div>
                </div>
              </div>
              <div class="row">
                {{printButton this}}
              </div>
            </li>
          {{/each}}
        </ul>
        </div>
      </li>
    {{/if}}
    {{#if parPublicat}}
      <li>
        <div class="collapsible-header"><i class="material-icons">people</i>Vos participations</div>
        <div class="collapsible-body">
          <ul class="collapsible z-depth-0" data-collapsible="accordion" style="border-left-width: 5px;">
          {{#each parPublicat}}
          <li>

            <div class="collapsible-header margin-bottom-yes"><i class="material-icons">keyboard_arrow_right</i>{{this.event_info.name}}</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s4">
                  <img class="responsive-img" src="{{this.welcome_msg.photo}}" >
                </div>
                <div class="col s8">
                  <div class="row">
                    <div class="col s12">
                      <span class="flow-text">{{this.event_info.description}}</span>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col s12" style="padding-bottom: 10px;">
                <h6>Titre :
                  <a class="modiftitre" href="#titre" style="color:#3B5998" data-id="{{this._id}}titre" data-titre="{{this.event_info.name}}" name="action">
                    <span id="{{this._id}}titre">{{this.event_info.name}}</span>
                    <i class="material-icons tiny">mode_edit</i>
                  </a>
                </h6>
              </div>
              <div class="col s12 m4" style="padding-bottom: 10px;">
                <div class="col s12">
                  <span>Orientation du magazine</span><i class="material-icons tiny"><a class="grey-text text-darken-3" href="#orientation">help</a></i>
                </div>
                <div class="valign-wrapper col s12" style="padding-bottom: 4px;">
                  <i class="material-icons">photo_album</i>
                  <input name="{{this._id}}orientation" type="radio" id="{{this._id}}Portrait" checked />
                  <label for="{{this._id}}Portrait">Portrait</label>
                </div>
                <div class="valign-wrapper col s12">
                  <i class="material-icons valign">panorama</i>
                  <input name="{{this._id}}orientation" type="radio" id="{{this._id}}Paysage" class="valign" />
                  <label for="{{this._id}}Paysage">Paysage</label>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="col s12">
                  <span>Rotation des images</span><i class="material-icons tiny"><a class="grey-text text-darken-3" href="#rotation">help</a></i>
                </div>
                <div class="valign-wrapper col s12" style="padding-bottom: 4px;">
                  <i class="material-icons">screen_rotation</i>
                  <input name="{{this._id}}rotation" type="radio" id="{{this._id}}Automatique" checked />
                  <label for="{{this._id}}Automatique">Automatique</label>
                </div>
                <div class="valign-wrapper col s12">
                  <i class="material-icons">screen_lock_rotation</i>
                  <input name="{{this._id}}rotation" type="radio" id="{{this._id}}Aucune" />
                  <label for="{{this._id}}Aucune">Aucune</label>
                </div>
              </div>
            </div>
            <div class="row">
              {{printButton this}}
            </div>
          </li>
          {{/each}}
          </ul>
        </div>
      </li>
    {{/if}}
  </ul>
</div>

<!-- Modal Structure -->
<div id="orientation" class="modal">
  <div class="modal-content">
    <h4>Orientation du magazine</h4>
    <p>Choisissez l'orientation de votre magazine: Portrait ou Paysage.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>
<div id="rotation" class="modal">
  <div class="modal-content">
    <h4>Rotation des images</h4>
    <p>Activer la rotation automatique pour que vos photos soient orientées pour prendre le maximun de place sur la page.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>
<div id="titre" class="modal">
  <input type="hidden" value="" name="Idtitre" />
  <input type="hidden" value="" name="Modtitre" />
  <div class="modal-content">
    <div class="input-field col s6">
     <input value="Ceci est un test" id="titremodal" type="text" class="validate" name="titremodal">
     <label class="active" for="titre">Titre de la publication</label>
   </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" name="titreUpdate">Ok</a>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
  </div>
</div>

<!-- End Modal Structure -->

<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<script type="text/javascript" src="https://monmagazine.fr/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://monmagazine.fr/js/materialize.min.js"></script>
<script type="text/javascript" src="https://monmagazine.fr/js/upload.js"></script>

<!-- TEST PEECHO PLUGIN-->
<script type="text/javascript">
(function() {
var p=document.createElement("script");p.type="text/javascript";p.async=true;
var h=("https:"==document.location.protocol?"https://":"http://");
p.src=h+"d2bqfg1o8jltul.cloudfront.net/button/script/1480324358479493.js";
var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(p,s);
}).call(this);
</script>


<!-- LIVE PEECHO PLUGIN
<script type="text/javascript">
(function() {
var p=document.createElement("script");p.type="text/javascript";p.async=true;
var h=("https:"==document.location.protocol?"https://":"http://");
p.src=h+"d3aln0nj58oevo.cloudfront.net/button/script/147991051526511325.js";
var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(p,s);
}).call(this);
</script>
-->

<script>
var titreId ="";

$("a[name='action']").click(function () {
  titreId = "#" + $(this).data('id');
  const titretext = $(this).data('titre');
  $("input[name='titremodal']").val(titretext);
  $("a[name='titreUpdate']").click(function () {
    $(titreId).text($("input[name='titremodal']").val());
  });
});




$(document).ready(function(){
    $('.collapsible').collapsible();
    $('.modal').modal();
  });

</script>
