{{#if eventImage}}
<header>
  <h5 style="text-align: center;margin-bottom: 0px;" class="light-blue-text text-darken-4">Merci, votre photo est enregistrée.</h5>
  <p style="text-align: center;margin-top: 0px;margin-right: 5px;margin-left: 5px;">Vous serez averti(e) par message de la validation de votre photo par le propriétaire de la publication.</P>
</header>
<main class="valign-wrapper">
    <div class="row section">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://monmagazine.fr/messenger/proxied_image/{{eventImage.public_id}}" alt="{{eventImage.message}}">
                </div>
                <div class="card-content">
                    <span class="activator grey-text text-darken-4" style="text-overflow: ellipsis;">{{eventImage.message}}<i class="material-icons right">more_horiz</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Commentaire<i class="material-icons right">close</i></span>
                    <div class="row ">
                        <div class="col s4 offset-s4 m2">
                            <img src="{{eventImage.author_pic}}" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s12 m10">
                            <span class="grey-text text-darken-4 flow-text">
                      {{eventImage.message}}
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4 offset-s4">
            <a href="https://monmagazine.fr/messenger/camera/{{eventImage.userid}}/{{eventImage.eventid}}" class="">
                <img src="https://monmagazine.fr/images/square/add_photo_gray.png" alt="" class="responsive-img">
                <p style="text-align: center;margin-top: 0px;margin-bottom: 0px;" class="flow-text">Ajouter une nouvelle photo</p>
            </a>

        </div>
    </div>
</main>
<footer class="">
    <div class="row" style="margin-bottom: 0px;">
        <div class="col s12" style="padding-right: 0px;padding-left: 0px;">
            <a id="close-btn" class="btn light-blue darken-4 btn-fullblock">Terminer</a>
        </div>
    </div>
</footer>

{{else}}
<div class="container">
  <div class="row section">
    <div class="col S12">
      <h4 class="light-blue-text text-darken-4">Pas de photo telecharger</h4>
    </div>
  </div>
</div>
  <footer id="footer" class="">
    <div class="col s12 m3">
      <a  id="close-btn" class="btn light-blue darken-4 btn-fullblock">Fermer</a>
    </div>
  </footer>
{{/if}}

<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>

<script type="text/javascript" src="https://monmagazine.fr/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://monmagazine.fr/js/materialize.min.js"></script>

<script>
$('#close-btn').click( function() {

  var isSupported = MessengerExtensions.isInExtension();

  if (isSupported) {
    MessengerExtensions.requestCloseBrowser(function success() {
  	}, function error(err) {
      window.open('','_self').close();
  	});
  } else {
    window.open('','_self').close();
    window.location.href = "https://www.messenger.com/closeWindow/?image_url=IMAGE_URL&display_text=FERMETURE";
  }

});
</script>
